body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 路由过渡效果 */
.fade-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-enter-active,
.fade-exit-active {
  opacity: 1;
  transition: all 500ms ease-out;
  transform: translateX(0);
}

.fade-exit {
  opacity: 0;
  transform: translateX(30px);
}
